* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
body {
  width: 100%;
  background-color: #fafcff;
}

img {
  width: 100%;
}
.nav {
  width: 80%;
  margin: 0px auto;
}

header {
  background-image: url("../images/Rectangle 21.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;

  z-index: 5;
}
.img2 {
  width: 50%;
}

a {
  color: white;
  text-decoration: none;
}
.ul {
  display: none;
}
.uul li {
  padding: 20px 30px;
  list-style-type: none;
}
.uul {
  text-align: center;
  background-color: rgba(10, 55, 97, 0.7);
  position: fixed;
  align-items: center;
  right: 100%;
  border-radius: 50% 0% 0% 50%;
  z-index: 2;
  padding: 40px 60px;
  transition: 0.8s ease-in-out;
}
.ul {
  list-style-type: none;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}
.reveal {
  display: block;
}
.slid {
  right: 0%;
}

.img1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 20px 0px;
}

.btnt {
  white-space: nowrap;
  border-radius: 8px;
  background-color: white;
  border: 1px solid white;
  color: #2996fd;
  padding: 10px 20px;
}
ul .btnt a {
  color: #2996fd;
  text-decoration: none;
 
}
.headflex {
  padding-top: 4rem;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.inner h1 {
  color: #ffffff;
}
.inner p {
  color: #ffffff;
}
.those img {
  width: 100%;
}
.inquiry {
  width: 80%;
  margin: 40px auto;
}

.singles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  text-align: center;
}

.mar h1 {
  margin: 30px 0px 10px 0px;
}
.mar {
  margin: 10px 0px 30px 0px;
}
.forms {
  max-width: 450px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px 30px;
  border: 1px solid #d6d8e5;
  border-radius: 10px;
}
.foms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cols {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forms p {
  color: rgba(117, 120, 126, 1);
  margin: 10px 0px 10px 0px;
}
.forms input {
  background-color: #fafcff;
  padding: 10px 10px 10px 10px;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}
.forms textarea {
  background-color: #fafcff;
  padding: 10px 0px 10px 0px;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}
.forms .btr {
  display: flex;
  justify-content: flex-end;
  margin: 20px 5px 20px 0px;
}

.forms .btrn {
  background-color: #2996fd;
  padding: 10px 0px 10px 0px;
  outline: none;
  border: 1px solid #2996fd;
  border-radius: 8px;
  padding: 10px 60px;
  color: #ffffff;
}
.fir {
  padding: 10px 5px;
  background-color: grey;
}
.foot {
  background-color: black;
}
.flex {
  width: 80%;
  margin: auto;
  padding: 40px;
}
.foot p {
  color: white;
}
.copyright {
  color: white;

  margin: 10px auto;
}
.foot h3 {
  color: white;
  margin: 10px auto;
}
.fto {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
.img22 {
  width: 180px;
}

@media (min-width: 768px) {
  .cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .ul {
    display: grid;
  }
  .uul {
    display: none;
  }

  .secimg {
    display: none;
  }

  .btnt {
    white-space: nowrap;
    border-radius: 8px;
    background-color: white;
    border: 1px solid white;
    color: #2996fd;
   padding: 10px 30px;
  }
  ul .btnt a {
    color: #2996fd;
    text-decoration: none;
  }

  header {
    width: 100%;
    height: 70vh;
    background-image: url("../images/Rectangle 2134.svg");
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .flex {
    display: grid;
    grid-template-columns: 2fr 3fr;

    justify-content: space-around;
    align-items: center;
  }
  .fto {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-around;
    align-items: center;

    gap: 150px;
  }
  .gridss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .mar h2 {
    text-align: justify;
  }
}
