* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
body {
  width: 100%;
  background-color: #fafcff;
}

img {
  width: 100%;
}
.nav {
  width: 80%;
  margin: 0px auto;
}

header {
  background-image: url("../images/Rectangle 21.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  z-index: 5;
}
.img2 {
  width: 50%;
}
a {
  color: white;
  text-decoration: none;
}
.ul {
  display: none;
}
.uul li {
  padding: 20px 30px;
  list-style-type: none;
}
.uul {
  text-align: center;
  background-color: rgba(10, 55, 97, 0.7);
  position: fixed;
  align-items: center;
  right: 100%;

  border-radius: 50% 0% 0% 50%;
  z-index: 2;
  padding: 40px 60px;
  transition: 0.8s ease-in-out;
}
.ul {
  list-style-type: none;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.reveal {
  display: block;
}
.slid {
  right: 0%;
}

.img1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 20px 0px;
}

.btnt {
  white-space: nowrap;
  border-radius: 8px;
  background-color: white;
  border: 1px solid white;
  color: #2996fd;
  padding: 10px 20px;
}
ul .btnt a {
  color: #2996fd;
  text-decoration: none;
}
.headflex {
  padding-top: 4rem;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 0 auto;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.inner h1 {
  color: white;
}
.inner p {
  color: white;
}
.those img {
  width: 100%;
}

.hands {
  width: 80%;
  margin: 20px auto;
}
.hands img {
  width: 100%;
}

.grid {
  margin: 30px auto;
  text-align: center;
}
.ho {
  margin: 20px auto;
}

.bout {
  margin: 10px 0px 100px 0px;
  background-color: #2996fd;
  padding: 20px;
}
.about {
  width: 80%;
  margin: auto;

  padding: 10px;
}
.woa {
  text-align: center;
}
.aboutt {
  text-align: justify;
  background-color: #2996fd;
}
.aboutt img {
  width: 100%;
  margin-top: 20px;
}

.about p,
.about h3 {
  color: white;
}
.about h3 {
  margin-top: 30px;
}

.dos h3 {
  margin: 20px auto;
  text-align: center;
}
.buttons {
  width: 80%;
  margin: 20px auto;
}
.flexs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.okns {
  text-align: center;
}
.end {
  background-color: #2996fd;
  opacity: 0.2;
  border-radius: 10px;
  text-align: center;
  display: block;
  padding: 15px 20px;
}
.end button {
  background-color: #2996fd;
  outline: none;
  border: 1px solid #2996fd;

  font-weight: bold;
  color: #f8f9fa;
}
.end:hover {
  box-shadow: 1px 1px 3px 3px hsl(209, 62%, 62%);
  color: #402b2b;
}
.btnns {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 10px auto;
}
.btnns img {
  width: 5%;
}

.btnns:hover {
  box-shadow: 1px 1px 3px 3px hsl(209, 62%, 62%);
}

.hto {
  margin-bottom: 50px;
}
.foot {
  background-color: black;
}
.flex {
  width: 80%;
  margin: auto;
  padding: 40px;
}
.foot p {
  color: white;
}
.copyright {
  color: white;

  margin: 10px auto;
}
.foot h3 {
  color: white;
  margin: 10px auto;
}
.fto {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
.img22 {
  width: 180px;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: justify;
  }

  .aboutt {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .aboutt img {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
  }
  .dos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .ul {
    display: grid;
  }
  .uul {
    display: none;
  }

  .secimg {
    display: none;
  }

  .btnt {
    white-space: nowrap;
    border-radius: 8px;
    background-color: white;
    border: 1px solid white;
    color: #2996fd;
    padding: 10px 30px;
  }
  ul .btnt a {
    color: #2996fd;
    text-decoration: none;
  }

  header {
    width: 100%;
    height: 70vh;
    background-image: url("../images/Rectangle 2134.svg");
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .flex {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: space-around;
    align-items: center;
  }
  .fto {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-around;
    align-items: center;

    gap: 150px;
  }
}
