* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  width: 100%;
  background-color: #fafcff;
}

img {
  width: 100%;
}
.nav {
  width: 80%;
  margin: 0px auto;
}

header {
  height: 180vh;
 max-height: 150vh;
  background-image: url("../images/Rectangle 21.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
}
.img2 {
  width: 50%;
}

a {
  color: white;
  text-decoration: none;
}
.ul {
  display: none;
}
.uul li {
  padding: 20px 30px;
  list-style-type: none;
}
.uul {
  text-align: center;
  background-color: rgba(10, 55, 97, 0.7);
  position: fixed;
  align-items: center;
  right: 100%;

  border-radius: 50% 0% 50% 50%;
  z-index: 2;
  padding: 40px 60px;
  transition: 0.8s ease-in-out;
}
.ul {
  list-style-type: none;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.reveal {
  display: block;
}
.slid {
 right: 0;
}

.img1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.btnt {
  border-radius: 8px;
  background-color: white;
  border: 1px solid white;
  color: #2996fd;
  padding: 10px 20px;
}
ul .btnt a {
  color: #2996fd;
  text-decoration: none;
}

.headflex {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.headflex h1 {
  color: white;
}
.headflex p {
  margin: 20px auto;
  color: white;
}

.those {
  position: relative;
  z-index: 1;
 
}
.first {
  position: absolute;
  width: 20rem;
}
.second {
  position: absolute;
  top: 1.9rem;
  left: 3.5rem;
  width: 13rem;
}

.tgt {
  position: sticky;
  top: 51rem;
  width: 150px;
  margin: auto;
}

.ter {
  width: 80%;
  margin: 5rem auto;
}

.cards img {
  width: 100%;
  height: 100px;
}
.later {
  display: none;
}
.single {
  max-width: 400px;
  border: 2px solid #2996fd;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}
.single h3,
.single img,
.single p {
  margin: 20px auto;
}
.single h3 {
  color: #2996fd;
}

.sin {
  background-color: #2996fd;
}
.sin h3,
.sin p {
  color: white;
}
.bout {
  background-color: #2996fd;
}
.about {
  width: 80%;
  margin: auto;
  padding: 10px;
}
.woa {
  text-align: center;
}
.aboutt {
  text-align: center;
  background-color: #2996fd;
}
.aboutt img {
  width: 100%;
  margin-top: 20px;
}

.about p,
.about h3 {
  color: white;
}
.about h3 {
  margin-top: 30px;
}
.quo {
  display: none;
}
.about button {
  padding: 10px 30px;
  background-color: white;
  color: #2996fd;
  border: 1px solid #2996fd;
  border-radius: 8px;
  margin: 20px auto;
}
.thrift {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

.thrift h2 {
  margin: 20px auto;
}
.thrift p {
  margin: 20px 3rem 40px 3rem;
}

.the {
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #2996fd;
  padding: 20px 80px ;
  border-radius: 10px;
}

.the h3 {
  color: #2996fd;
  text-align: left;
}
.mont {
  background-color: #2996fd;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 150px;
}
.mont .go {
  font-size: 30px;
}
.mont .got {
  color: #2996fd;
}

.spa {
  font-size: 6px;
}
.spat {
  width: 15px;
}
.btn {
  background: linear-gradient(90deg, #2996fd 0%, #1343bd 100%);
  padding: 10px 30px;
  color: white;
  white-space: nowrap;
  border: 1px solid #1343bd;
  margin-top: 15px;
  border-radius: 8px;
}
.that {
  background-color: #2996fd;
}
.that h3 {
  color: white;
}
.mon {
  background-color: white;
  color: #2996fd;
}
.btnn {
  background-color: white;
  color: #2996fd;
  padding: 10px 30px;
  white-space: nowrap;
  border: 1px solid white;
  margin-top: 15px;
  border-radius: 8px;
}

.for {
  background-color: #2996fd;
}
.for h2 {
  color: white;
  margin: 0px 0px 40px 40px;
}

.fo {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0px;
}

.slide {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow: auto;
}
.slider {
  width: 200px;
  background-color: white;
  border-radius: 10px;
}
.imgh img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.text {
  text-align: center;
  padding: 15px;
}
.text p {
  color: #75787e;
  margin-bottom: 10px;
}
.thod {
  margin: 90px 10px auto 10px;
}
.thod img {
  width: 40px;
}
.des {
  background-color: #b9b7b7;
  border-radius: 50%;
}
.dest {
  background-color: white;
  border-radius: 50%;
}

.foot {
  background-color: black;
}
.flex {
  width: 80%;
  margin: auto;
  padding: 40px;
}
.foot p {
  color: white;
}
.copyright {
  color: white;

  margin: 10px auto;
}
.foot h3 {
  color: white;
  margin: 10px auto;
}
.fto {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
.img22 {
  width: 180px;
}

@media (min-width: 768px) {
  header {
    width: 100%;
    background-image: url("../images/desktop\ img.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav {
    width: 80%;
    margin: auto;
  }
  .headflex {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .down {
    grid-column: span 2;
  }

  .quo {
    display: none;
  }
  .wao {
    margin: 20px auto;
  }
  
  .othe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .for h2 {
    color: white;
    margin: 10px 0px 15px 40px;
    text-align: justify;
  }
}
@media (min-width: 1240px) {
  .ul {
    display: grid;
  }
  .uul {
    display: none;
  }

  .secimg {
    display: none;
  }

  .btnt {
    padding: 10px 30px;
  }
  ul .btnt a {
    color: #2996fd;
    text-decoration: none;
  }

  .secimg {
    display: none;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .down {
    grid-column: span 1;
  }
  .middle {
    position: relative;
    top: 60px;
  }
  .sin {
    grid-column: span 1;
    position: relative;
    top: 20px;
  }
  .down {
    position: relative;
    top: 100px;
  }

  .later {
    display: block;
  }
  .aboutt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .aboutt img {
    width: 100%;
    margin-top: 20px;
  }
  .dos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 10px;
  }
  .dos button {
    margin-right: 20rem;
    white-space: nowrap;
  }
  .dos p {
    text-align: justify;
  }

  .quo {
    display: block;
  }
  .woa {
    display: none;
  }
  .othe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .flex {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: space-around;
    align-items: center;
  }
  .thod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fto {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-around;
    align-items: center;

    gap: 150px;
  }
}
